* {
    background-color: rgb(191, 223, 242);
    margin: 5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;;
}

.top {
    position: absolute;
    right: 10px;
    top: 10px;
}

.Top {
    padding-right: 10px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 580px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    border: 5px solid #787373;
    text-align: left;
    padding: 6px;
  }

.abra {
    position: absolute;
    left: 200px;
    top: 420px;
    font-size: larger;
    color: rgb(158, 19, 161); 
}

.Abra {
    position: absolute;
    left: 100px;
    top: 500px;
}

.oh {
    position: absolute;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 600px;
    left: 420px;
}

.Mo {
    position: absolute;
    left: 1120px;
    top: 420px;
    font-size: larger;
    color: rgb(158, 19, 161); 
}

.mo {
    position: absolute;
    left: 1000px;
    top: 500px;
}

.mos {
    position: absolute;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 800px;
    left: 970px;
}

.dav {
    position: absolute;
    left: 580px;
    top: 1000px;
    font-size: larger;
    color: rgb(158, 19, 161); 
}

.Dav {
    position: absolute;
    left: 100px;
    top: 900px;
}

.word {
    position: absolute;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 1100px;
    left: 450px;
}

.solo {
    position: absolute;
    left: 1100px;
    top: 960px;
    font-size: larger;
    color: rgb(158, 19, 161); 
}

.Solo {
    position: absolute;
    left: 990px;
    top: 1050px; 
}

.dog {
    position: absolute;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 1300px;
    left: 550px;
}



